<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=feelinnauti;AccountKey=eyfTZFGg1ySjr4PdEbRYTywNeulEAgFFLP8jkb45TLxzC8Ap7IvrP+FjRm19ijDfTfuUIvxJYjdIQCIW+V0xFg==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>